* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 480px) {

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgb(20, 2, 36);
    color: #bdabd2;
    width: 90%;
    margin: 16% auto;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    gap: 15%;
} 

a {
    color: rgb(255, 255, 255);
    padding: 2.5% 1rem;
    text-decoration:double;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(98, 24, 150, 0.281);
    border: 0.1rem solid #0b7486;
    border-radius: 0.6rem;
}

header {
    margin: 8%;
    padding: 1rem;
    color: #bdabd2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

main {
    margin: auto;
    padding: 10px;
    width: 0 90%;
    text-align:justify;
}

h1 {
    font-size: 1.7rem;
    color: rgb(200, 198, 125);
}

