body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Assets/e207f299f8e5e2e65823593378017445.jpg')
    
  }
  
  h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    margin: 0 auto;
  }
  
  li {
    background-color: #ddd;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    background-color: #210625;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007B9A;
  }

  