* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 480px) {
    
}

body {
    font-family: Helvetica;
    color: #fff;
    background-image: url(/Assets/bg-mobile\ -\ Copia.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 11% auto;
    
}

li {
    display: flex;
    align-items: center;
    text-align:center;    
} 

.menu {
    margin: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 0.3rem 1rem;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #20a2b9;
    border-radius: 2rem;
}



main {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 6vh;
}

h3 {
    margin: 1.2rem;
    font-size: 1.3rem;
    display: flex;
    text-align: center;
    justify-content: left;
    color: #20a2b9;
}

.teste, .teste1 {
    margin: 0;
    padding: 0.2rem 10%;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 245, 245);
    cursor: pointer;
    text-transform: 1;
}

.teste:hover {
    transform: scale(1.1);
} 
.teste1:hover {
    transform: scale(1.1);
}

img {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.button{
    width: 8rem;
    padding: 1rem;
    margin:6%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #20a2b9;
    border-radius: 2rem;
    font-size: 1.1rem;
}



.button:hover {
    opacity: 1;
}